<select id="aof-cardType" name="aof-cardType" ng-model="cardType" style="width: 245px;margin:10px 0">
    <option value="">Please Select</option>
    <option value="Diners Card">Diners Card</option>
    <option value="Master Card">Master Card</option>
    <option value="American Express">American Express</option>
    <option value="VISA debit/electron/maestro">Visa debit/electronic/maestro</option>
    <option value="VISA credit">Visa Credit</option>
</select>
<label id="cardType" hidden style="color: red; display: none"></label>
﻿<!-- ===== Design to replace CardType tag in template ===== -->