<script>
    $(function () {
        setUpFormUtilities();
        $(".ideMailOutput").code('hello');
    });
</script>

<!--Google Analytics Script-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47702928-1', 'auto');
    ga('send', 'pageview');
</script>
<!--Ended Google Analytics Script-->
<!--Modal for displaying success message-->
<div class="modal fade" id="idpopup" role="dialog">
    <div class="modal-dialog">
        <div ng-controller="R_EmailTemplates">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <center><h5>Email Created Successfully</h5></center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Ended Modal for displaying success message-->

@if (Request.IsAuthenticated && (User.IsInRole("Resteam")) || (User.IsInRole("Client User")))
{
    <input type="hidden" id="IsResteamInEmails" value="true" />
}
else
{
    <input type="hidden" id="IsResteamInEmails" value="false" />
}

<div class="row">
    <div class="col-xs-12">
        <div class="sidebar h-sidebar navbar-collapse collapse" id="tabbed-navigation">
            <ul class="nav nav-list">
                <li>
                    <a ui-sref="detailsTab({enqRef: '{{glbCurrentEnquiryRef}}'})">
                        <i class="menu-icon fa fa-bars"></i>
                        <span class="menu-text">Details</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="detailsTab.search">
                        <i class="menu-icon fa fa-search"></i>
                        <span class="menu-text">Search</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="detailsTab.shortlist">
                        <i class="menu-icon fa fa-filter"></i>
                        <span class="menu-text">Shortlist</span>
                    </a>
                </li>
                <li class="active">
                    <a ui-sref="detailsTab.emails">
                        <i class="menu-icon fa fa-envelope"></i>
                        <span class="menu-text">Emails</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="detailsTab.actions">
                        <i class="menu-icon fa fa-magic"></i>
                        <span class="menu-text">Actions</span>
                    </a>
                </li>
                @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Senior Manager") || User.IsInRole("Manager") || User.IsInRole("Supervisor") || User.IsInRole("Resteam") || User.IsInRole("Client Manager")))
                {
                    <li>
                        <a ui-sref="detailsTab.qaCheck">
                            <i class="menu-icon fa fa-star"></i>
                            <span class="menu-text">QA Check</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div><!-- End Tabbed Navigation -->
<!-- Email Tab Content -->
<div class="row">
    <div class="col-xs-12">
        <div class="tab-content">
            <!-- Compose Email -->
            <div ng-controller="R_V_EmailAddresses">
                <div ng-controller="R_EmailTemplates">
                    <div class="widget-box transparent mb-0">
                        <div class="widget-header">
                            <h4 class="widget-title">
                                Compose Email
                            </h4>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Senior Manager") || User.IsInRole("Manager") || User.IsInRole("Supervisor") || User.IsInRole("Resteam")))
                            {
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-8 col-xl-6 form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">
                                                    <label class="form-label">Choose Language and Template</label>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label><input type="checkbox" ng-model="footerSignature" ng-click="IncludeFooterSignature(footerSignature)"> Include footer signature?</label>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <label><input type="checkbox" id="isBookingTemplatesSelected" ng-click="IncludeBookerTemplates(glbCurrentEnquiryRef)"> Include Guest Services</label>
                                                </div>
                                                @*<div class="col-lg-6 col-sm-6 col-md-6">
                                                    <label><input type="checkbox" id="isDefaultTemplateSelected" ng-click="IncludeDefaultTemplates(glbCurrentEnquiryRef)"> Include Template Source - All</label>
                                                </div>*@
                                            </div>
                                            <ui-select id="idDTenLastTemplateChosen" ng-model="DTEnquiry.enLastTemplateChosen" class="form-control" ng-change="GetSelectedEmailTemplate(DTEnquiry.enLastTemplateChosen)" ng-disabled="false">
                                                <ui-select-match placeholder="Please select an Email Template">{{$select.selected.SelectKey}}</ui-select-match>
                                                <ui-select-choices repeat="RTRec.etSubject as RTRec in EmailTemplatesByTemplateType |  orderBy:['SelectKey'] | filter: $select.search" ui-disable-choice="RTRec.etStatus != 'L'">
                                                    {{ RTRec.SelectKey }}
                                                    <div ng-bind-html="RTRec.ID | highlight: {{DTEnquiry.enLastTemplateChosen}}"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        <div class="col-lg-4 col-xl-3 form-group">
                                            <label class="form-label">Translate Template for this enquiry</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-purple btn-sm btn-block" id="idETImportTemplate" ng-click="ETImportTemplate()" type="button">
                                                        <i class="ace-icon fa fa-reply icon-on-right hidden-xs"></i>
                                                        Import
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-sm-6 well well-sm">
                                            <div class="space-14"></div>
                                            <div class="row form-group">
                                                <label class="col-lg-4 no-padding-right">From</label>
                                                <div class="col-lg-8">
                                                    <input id="idETEmailFrom" ng-model="ETEmailFrom" class="form-control" type="text" ng-readonly="(isResteam == 'true') ? false : true" />
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-lg-1 no-padding-right">To</label>
                                                <table>
                                                    <tr>
                                                        <td width="250">
                                                            @*<ui-select id="idETenLastEmailSentTo" ng-model="DTEnquiry.enLastEmailSentTo" class="form-control bg-light-red" ng-disabled="false">
                            <ui-select-match placeholder="Please select an Email Address">{{$select.selected.CameFrom}}</ui-select-match>
                            <ui-select-choices repeat="RTRec.CameFrom as RTRec in EmailAddresses  | filter: $select.search">
                                {{ RTRec.Source }} {{ RTRec.DisplayFrom }}
                                <div ng-bind-html="RTRec.CameFrom | highlight: {{DTEnquiry.enLastEmailSentTo}}"></div>
                            </ui-select-choices>
                        </ui-select>*@
                                                            <div isteven-multi-select
                                                                 input-model="EmailAddresses"
                                                                 output-model="multipleToAddresses"
                                                                 button-label="icon DisplayFrom"
                                                                 item-label="icon Source DisplayFrom maker"
                                                                 tick-property="ticked"
                                                                 output-properties="DisplayFrom"
                                                                 on-close="OnClose_ToAddresses(multipleToAddresses)"
                                                                 on-open="OnOpen_ToAddresses()">
                                                            </div>
                                                        </td>
                                                        <td width="450">
                                                            <div class="col-lg-12">
                                                                <!-- Markup for cases when the user needs to either select from a dropdow or enter his own text -->
                                                                <input id='idETenLastEmailSentToFreeEntry' name='free-email-to' class="form-control" type="text" ng-model="DTEnquiry.enLastEmailSentTo" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-lg-4 no-padding-right">Subject</label>
                                                <div class="col-lg-8">
                                                    <div class="input-group">
                                                        <span class="input-group-btn hidden-xs">
                                                            <span class="btn disabled btn-sm btn-primary">ENQ: #&lt;{{glbCurrentEnquiryRef}}&gt;# </span>
                                                        </span>
                                                        <input id="id_ETSubject" class="form-control" ng-model="ETEmailSubject" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-lg-1 no-padding-right">CC</label>
                                                <table>
                                                    <tr>
                                                        <td width="250">
                                                            @*<ui-select id="idETenLastEmailCCTo" ng-model="DTEnquiry.enLastEmailCCTo" class="form-control bg-light-red" ng-disabled="false">
                            <ui-select-match placeholder="Please select an Email Address">{{$select.selected.CameFrom}}</ui-select-match>
                            <ui-select-choices repeat="RTRec.CameFrom as RTRec in EmailAddresses  | filter: $select.search">
                                {{ RTRec.Source }} {{ RTRec.DisplayFrom }}
                                <div ng-bind-html="RTRec.CameFrom | highlight: {{DTEnquiry.enLastEmailSentTo}}"></div>
                            </ui-select-choices>
                        </ui-select>*@
                                                            <div isteven-multi-select
                                                                 input-model="EmailAddressesCopy"
                                                                 output-model="multipleCCAddresses"
                                                                 button-label="icon DisplayFrom"
                                                                 item-label="icon Source DisplayFrom maker"
                                                                 tick-property="ticked"
                                                                 output-properties="DisplayFrom"
                                                                 on-close="OnClose_CCAddresses(multipleCCAddresses)"
                                                                 on-open="OnOpen_CCAddresses()">
                                                            </div>
                                                        </td>
                                                        <td width="450">
                                                            <div class="col-lg-12">
                                                                <!-- Markup for cases when the user needs to either select from a dropdow or enter his own text -->
                                                                <input id='idETenLastEmailCCToFreeEntry' name='free-CCemail-to' class="form-control" type="text" ng-model="DTEnquiry.enLastEmailCCTo" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="row form-group">
                                                <label class="col-lg-4 no-padding-right">Attach File<p style="color:red">Max file size 1Gb</p></label>
                                                <div class="col-lg-8">
                                                    <input type="file" multiple="multiple" onchange="angular.element(this).scope().getFileDetails(this)" ng-model="ETEmailFileAttchments" id="clearFile" />
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-xs-12">
                                                    <label>Attachment List</label>
                                                    <ul class="attachment-list list-unstyled" ng-repeat="file in files">
                                                        <li>
                                                            <label>
                                                                @*<i class="ace-icon fa fa-file-pdf-o bigger-110"></i>*@
                                                                <span>{{file.name}}</span>
                                                            </label>
                                                            <span class="action-buttons">
                                                                @*<a href="#"><i class="ace-icon fa fa-download bigger-125 blue"></i></a>*@
                                                                <a ng-click="RemoveFile($index)"><i class="ace-icon fa fa-trash-o bigger-125 red"></i></a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="row form-group" ng-if="ReplyOrForwardEmailId && replyOrForwardFiles && replyOrForwardFiles.length > 0">
                                                <div class="col-xs-12">
                                                    <label>Parent Attachment List</label>
                                                    <ul class="attachment-list list-unstyled" ng-repeat="file in replyOrForwardFiles">
                                                        <li>
                                                            <label>
                                                                <a href="{{file.PhysicalFilePath}}" target="_blank">{{file.Name}}</a>
                                                            </label>
                                                            <span class="action-buttons">
                                                                <a ng-click="RemoveAttachmentFile($index)"><i class="ace-icon fa fa-trash-o bigger-125 red"></i></a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div ng-controller="R_EmailTemplates">
                                                <label>Message</label>
                                                <!-- placeholder for wysiwyg editor -->
                                                <div rows="20" cols="70" id="idemailoutput" style="font-family: Verdana; font-size: 18px; background-color: rgb(255, 255, 255);" class="summernote ideMailOutput note-editable"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <button class="btn btn-info btn-sm mb-10" ng-click="ETEmailPreview();" type="button" id="emailPreview">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Preview
                                            </button>
                                            <button class="btn btn-success btn-sm mb-10" id="id_sendEmail" ng-click="ETSendEmail();" type="button">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Send Email
                                            </button>
                                            <button class="btn btn-danger btn-sm mb-10" type="reset">
                                                <i class="ace-icon fa fa-times bigger-110"></i>
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END Compose Email -->
            <!-- Tracking Table -->
            <h3 class="header">
                Tracking Entries
            </h3>
            <div ng-controller="PV_TrackingEntries">
                @Html.Partial("../Partials/EmailsTabTrackingEntries")
            </div>
            <!-- Tracking Table -->
        </div>
    </div>

</div><!-- End Email Tab Content -->

<div class="previewModal" id="id_templatePreview" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="previewModal-dialog">
        <!-- Modal content-->
        <div class="previewModal-content">
            <div class="previewModal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="previewModal-title" style="text-align: center">Preview</h4>
            </div>
            <div class="previewModal-body" id="previewModalBodyId" style="max-height: 1000px; overflow-y: scroll">
                <h5 style="text-align:center" ng-model="preview"></h5>
            </div>
            <div class="previewModal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/SPA/eTrakApp/07-Referential-Controllers/R_EmailTemplatesController.js"></script>
<script src="~/SPA/eTrakApp/09-REST-CRUD-Services/R_EmailTemplatesService.js"></script>
<link href="~/Content/Styles/Preview.css" rel="stylesheet" />

<script>
    $(function () {
        setUpFormUtilities();
        setUpWysiwygEditor();
        //        setUpEmailNew();
        //document.getElementById("emailPreview").disabled = true;
    });
</script>

@*<style>
      .previewModal-body{
        overflow-x: auto;
        height: 550px;
        width:1000px;
    }
      .previewModal-header, .previewModal-footer {
          overflow-x: auto;
          width: 1000px;
          height: auto;
      }
      .previewModal {
          float: none;
          width: 100%;
          clear: both
      }
</style>*@