<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="15.1.3.0" targetFramework="net451" />
  <package id="angular-multi-select" version="4.0.0" targetFramework="net452" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="bootstrap" version="3.3.5" targetFramework="net451" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="CsQuery" version="1.3.4" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="DocuSign.Integration.Client.dll" version="1.7.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="GravatarHelper" version="3.3.1" targetFramework="net451" />
  <package id="HtmlToOpenXml.dll" version="2.0.0" targetFramework="net452" />
  <package id="jQuery" version="2.1.4" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.14.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="log4net-loggly" version="7.2.1" targetFramework="net452" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Samples" version="2.1.0-alpha1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.OData" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.OData.Client" version="6.13.0" targetFramework="net451" />
  <package id="Microsoft.OData.Core" version="6.13.0" targetFramework="net451" />
  <package id="Microsoft.OData.Edm" version="6.13.0" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net451" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net451" />
  <package id="Microsoft.ReportViewer.Common.2010SP1Update" version="10.0.40219.329" targetFramework="net451" />
  <package id="Microsoft.ReportViewer.Common.2010SP1UpdateFull" version="10.0.40219.329" targetFramework="net451" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net451" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net451" />
  <package id="Microsoft.ReportViewer.Winforms.2010SP1Update" version="10.0.40219.329" targetFramework="net451" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net452" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" />
  <package id="MvcSiteMapProvider.MVC5" version="4.6.18" targetFramework="net451" />
  <package id="MvcSiteMapProvider.MVC5.Core" version="4.6.18" targetFramework="net451" />
  <package id="MvcSiteMapProvider.Web" version="4.6.18" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net452" />
  <package id="NGravatar" version="1.0.1" targetFramework="net451" />
  <package id="NGravatar.Core" version="1.0.1" targetFramework="net451" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net451" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net451" />
  <package id="Respond" version="1.4.2" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.6" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="TinyMCE" version="3.4.7" targetFramework="net451" />
  <package id="TinyMCE.MVC" version="3.4.7" targetFramework="net451" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net451" />
  <package id="WebGrease" version="1.6.0" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net452" />
</packages>