@model IEnumerable<eTrak.Dal.Models.RoomspaceCity>

@{
    ViewBag.Title = "Index";
}

<h2>Roomspace Cities</h2>

@*<p>
    <strong>@Html.ActionLink("Create New", "Create")</strong>
</p>*@
<p>
    <a href="/RoomspaceCities/Create/" class="btn btn-success btn-sm">Create New</a>
</p>
<div ng-controller="R_RoomspaceCities" class="container">
    <table id="idASPRoomspaceCities" show-filter="true" dt-options="dtOptions" datatable="ng" ng-model="RoomspaceCities" class="responsive   table table-striped table-bordered">
        <!--added extra datatable in class to see what happens-->
        <thead class="thin-border-bottom">
        <tr>
            <th data-class="expand">Description</th>
            <th data-hide="screen_xs,screen_sm">Status (L=Live, D=Deleted, I=Ignore) </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="edRec in RoomspaceCities ">
            <td>{{edRec.rciDescription}}</td>

            <td>{{edRec.rciStatus}}</td>
            <td>
                <a href="/RoomspaceCities/Edit/{{edRec.rciCode}}">Edit</a> |
                <a href="/RoomspaceCities/Details/{{edRec.rciCode}}">Details</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

