
@{
    ViewBag.Title = "Index";
}

<h4>Tracking Status</h4>

<div ng-controller="P_TrackingStatus">
    
    <select id="id_functionality" style="width: 252px;" ng-model="functionality" ng-change="getTrackingStatusRecords(functionality)">
        <option value="">Please Select</option>
        <option ng-repeat="name in Functionalities" value="{{name.fnID}}">{{name.fnFunctionality}}</option>
    </select>

    <div id="container" style="height: 400px"></div>

    <table id="datatable" ng-hide="true">
        <thead>
        <tr>
            <th>Viewed Date</th>
            <th>Users Count</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="records in TrackingRecords">
            <th>{{records.ViewedDate}}</th>
            <td>{{records.UsersCount}}</td>
        </tr>
        </tbody>
    </table>
</div>

   

