@model eTrak.Dal.Models.EmailTemplate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Esig Terms</title>
</head>
<body>
<div class="container">
    <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="font-family:'Times New Roman';font-size:17px; border: 2px solid; border-color: grey; border-radius: 21px; padding: 47px; margin-top: 3em;">
        @if (Model != null)
        {
            @Html.Raw(@Model.etTemplate)
        }
    </div>
</div>
</body>
</html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
