@model PagedList.IPagedList<eTrak.Dal.Models.CodedNote>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Coded Notes</h2>

<p>
    <a href="/CodedNotes/Create/" class="btn btn-success btn-sm">Create New</a>
    </p>
<div ng-controller="R_CodedNotes" class="container">
    <table id="idASPPreCodedNotes" show-filter="true" dt-options="dtOptions" datatable="ng" ng-model="R_PreCodedNotes" class="responsive   table table-striped table-bordered">
        <!--added extra datatable in class to see what happens-->
        <thead class="thin-border-bottom">
            <tr>
                <th data-class="expand">Description</th>
                <th data-hide="screen_xs,screen_sm">Status (L=Live, D=Deleted, I=Ignore) </th>
                <th data-class="expand">Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="edRec in PreCodedNotes ">
                <td>{{edRec.cnDescription}}</td>
                <td>{{edRec.cnStatus}}</td>
                <td>{{edRec.cnNoteFlag}}</td>
                <td>
                    <a href="CodedNotes/Edit/{{edRec.cnCode}}">Edit</a> |
                    <a href="CodedNotes/Details/{{edRec.cnCode}}">Details</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
